body {
  background-color: #f9f9f9;
}

h1, h2 {
  color: #2a4d69;
}

section {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}
